body
{
background-color:#000000;
margin:0 auto;
text-align:center;
font-size:16px;
width:1080px;
height:585px;
}
div
{
/display:inline;
}
#big
{
margin:0 auto;
text-align:center;
font-size:16px;
width:1080px;
height:585px;
}

#topleft
{
float:left;
width:323px;
height:215px;
}
#topleftback1
{
float:left;
background-color:#878787;
width:135px;
height:45px;
}
#topleft1
{
float:left;
background-image:url(image/index_topleft1.jpg);
width:188px;
height:45px;
}
#topleftback2
{
float:left;
background-color:#878787;
width:43px;
height:85px;
}
#topleft2
{
float:left;
background-image:url(image/index_topleft2.jpg);
width:197px;
height:170px;
}
#topleft3
{
float:left;
background-image:url(image/index_topleft3.jpg);
width:43px;
height:26px;
}
#topleftleft
{
float:left;
width:43px;
height:111px;
}
#list
{
float:left;
margin-top:17px;
margin-left:39px;
width:611px;
height:446px;

}
#list1
{
float:left;
width:146px;
height:388px;
}
#list2
{
float:left;
margin-left:12px;
width:140px;
height:353px;
}
#list3
{
float:left;
margin-left:14px;
width:144px;
height:446px;
}
#list4
{
float:left;
margin-left:13px;
width:142px;
height:356px;
}
#list1top
{
background-image:url(image/list1top.jpg);
width:146px;
height:126px;
}
#list1back
{
background-color:#72D701;
width:144px;
/width:146px;
height:255px;
border-left:solid;
border-right:solid;
border-left-color:#3B7100;
border-right-color:#4C8C00;
border-left-width:1px;
border-right-width:1px;
}
#bottomleft1
{
background-image:url(image/bottomleft1.jpg);
float:left;
width:8px;
height:7px;
overflow:hidden;
}
#bottom1
{
float:left;
background-color:#72D701;
width:130px;
height:6px;
/height:7px;
border-bottom:solid;
border-bottom-color:#407700;
border-bottom-width:1px;
overflow:hidden;
}
#bottomright1
{
background-image:url(image/bottomright1.jpg);
float:left;
width:8px;
height:7px;
overflow:hidden;
}
#title1c
{
float:left;
background-image:url(image/title1c.jpg);
margin-top:137px;
margin-left:26px;
width:95px;
height:26px;
overflow:hidden;
}
#title1e1
{
float:left;
background-image:url(image/title1e1.jpg);
margin-left:26px;
margin-top:18px;
width:80px;
height:21px;
overflow:hidden;
}
#title1e2
{
float:left;
background-image:url(image/title1e2.jpg);
margin-left:77px;
margin-top:7px;
width:54px;
height:21px;
overflow:hidden;
}
#list2top
{
float:left;
background-image:url(image/list2top.jpg);
width:140px;
height:128px;
}
#list2back
{
float:left;
background-color:#00CBF4;
width:138px;
/width:140px;
height:218px;
border-left:solid;
border-right:solid;
border-left-color:#003A46;
border-right-color:#0184A0;
border-left-width:1px;
border-right-width:1px;
}
#bottomleft2
{
float:left;
background-image:url(image/bottomleft2.jpg);
width:8px;
height:7px;
overflow:hidden;
}
#bottom2
{
float:left;
background-color:#00CBF4;
width:124px;
height:7px;
overflow:hidden;
}
#bottomright2
{
float:left;
background-image:url(image/bottomright2.jpg);
width:8px;
height:7px;
overflow:hidden;
}
#title2c
{
float:left;
background-image:url(image/title2c.jpg);
margin-left:24px;
margin-top:119px;
width:95px;
height:26px;
}
#title2e
{
float:left;
background-image:url(image/title2e.jpg);
margin-left:8px;
margin-top:18px;
width:127px;
height:17px;
overflow:hidden;
}
#list3top
{
background-image:url(image/list3top.jpg);
width:144px;
height:130px;
}
#list3back
{
background-color:#F4E50C;
width:144px;
height:310px;
}
#bottomleft3
{
background-image:url(image/bottomleft3.jpg);
float:left;
width:8px;
height:8px;
overflow:hidden;
}
#bottom3
{
float:left;
background-color:f4e50c;
width:129px;
height:7px;
/height:8px;
border-bottom:solid;
border-bottom-color:#8B8307;
border-bottom-width:1px;
overflow:hidden;
}
#bottomright3
{
background-image:url(image/bottomright3.jpg);
float:left;
width:7px;
height:8px;
overflow:hidden;
}
#title3c
{
float:left;
background-image:url(image/title3c.jpg);
margin-top:182px;
margin-left:23px;
width:100px;
height:27px;
overflow:hidden;
}
#title3e1
{
float:left;
background-image:url(image/title3e1.jpg);
margin-left:23px;
margin-top:17px;
width:87px;
height:24px;
overflow:hidden;
}
#title3e2
{
float:left;
background-image:url(image/title3e2.jpg);
margin-left:74px;
margin-top:8px;
width:54px;
height:15px;
overflow:hidden;
}
#list4top
{
background-image:url(image/list4top.jpg);
width:142px;
height:126px;
}
#list4back
{
background-color:#f58807;
width:140px;
/width:142px;
height:223px;
border-left:solid;
border-right:solid;
border-left-color:#965505;
border-right-color:#a75d04;
border-left-width:1px;
border-right-width:1px;
}
#bottomleft4
{
background-image:url(image/bottomleft4.jpg);
float:left;
width:7px;
height:7px;
overflow:hidden;
}
#bottom4
{
float:left;
background-color:#f48907;
width:128px;
height:6px;
/height:7px;
border-bottom:solid;
border-bottom-color:#874b02;
border-bottom-width:1px;
overflow:hidden;
}
#bottomright4
{
background-image:url(image/bottomright4.jpg);
float:left;
width:7px;
height:7px;
overflow:hidden;
}
#title4c
{
float:left;
background-image:url(image/title4c.jpg);
margin-top:101px;
margin-left:15px;
width:99px;
height:27px;
overflow:hidden;
}
#title4e1
{
float:left;
background-image:url(image/title4e1.jpg);
margin-left:4px;
margin-top:21px;
width:101px;
height:23px;
overflow:hidden;
}
#title4e2
{
float:left;
background-image:url(image/title4e2.jpg);
margin-left:30px;
margin-top:3px;
width:108px;
height:19px;
overflow:hidden;
}
#entitle
{
float:left;
width:425px;
height:129px;
margin-top:-100px;
margin-left:83px;
}
#topic
{
float:left;
background-image:url(image/topic.jpg);
width:200px;
height:52px;
}
#collection
{
float:right;
background-image:url(image/collection.jpg);
margin-top:25px;
width:398px;
height:52px;
}
ul
{
list-style-type:none;
margin:0;
}
.li1
{
list-style-type:none;
padding:0px;
margin:0px;
list-style:none outside none;
line-height:16px;
}
#copyright
{
float:left;
width:260px;
height:51px;
margin-top:71px;
margin-left:-40px;
font-family:ו;
font-size:11px;
color:#878787;
}
#bottomright
{
float:left;
margin-top:-8px;
width:344px;
height:130px;
}
#bottomr1
{
float:left;
background-image:url(image/index_bottom1.jpg);
margin-left:197px;
width:98px;
height:26px;
}
#bottomr2
{
float:left;
background-image:url(image/index_bottom2.jpg);
margin-left:63px;
width:266px;
height:69px;
}
#bottomr3
{
float:left;
background-image:url(image/index_bottom3.jpg);
width:344px;
height:35px;
}